/* Exercício 1: */
 #controles ul {
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	transition: 600ms ease-in-out;
}

/* Exercício 2: */
.agitado {
	animation: piscando 200ms ease-in-out 0s infinite alternate;
}
@keyframes piscando{
	from{ opacity: 1.0 }
	to{ opacity: 0.7 }	
}
.agitado img {
	animation: lastchance 250ms linear 2.5s infinite alternate;
}
@keyframes lastchance{
	0%   { background: #FFFFFF; } 100% { background: #FFFC00; }
}

.alimentado {
	animation: rodando 700ms linear 0s;
}
@keyframes rodando{
  from { transform: rotateY(0); }
  to   { transform: rotateY(720deg); }
}
.alimentado img {
	animation: feliz 700ms linear 0s alternate;
}
@keyframes feliz{
	0%   { background: #111111; }  33%  { background: #00CC00; }
	66%  { background: #00CC00; }  100% { background: #111111; }
}

.perturbado {}
.perturbado img {
	animation: pulsar 50ms linear 0s infinite alternate;
}
@keyframes pulsar{
	from{ transform: scale(0.9); }
	to{ transform: scale(1.1); }
}

.instinto-selvagem {}
.instinto-selvagem img {
	animation: roar 450ms ease-in-out 0s alternate, redborder 450ms linear 0s;
}
@keyframes roar{
	from{ transform: scale(1); }
	to{ transform: scale(2); }
}
@keyframes redborder{
	0%   { background: #FFF000; }  100% { background: #FF0000; }

/* Exercício 3: */

.comecar,
.parar {
  width: 24px;
  height: 24px;
  background-image: url('imgs/imgsprite.png');
}

.parar {
  background-position: 0 24px;
}

.comecar {}
